@use "styles" as *;

.skillDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .skillDots{
        display: flex;
        flex-direction: row;
        list-style: none;
        
        .dot{
            width: 10px;
            height: 10px;
            margin: 5px;
            background-color: $light-grey;
            border-radius: 50%;
        
            &.skill{
                background-color: $dark-grey;
            }
        }
    }
}