@import "../global";

.content{
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    background-color: $background;
    color: $text-color;

    .left{
        .headline{
            font-size: 7em;
        }
    }
    .page-index{
        width: 30px;
        margin-right: 15px;

    }
}