<div class="page" id="startPage">
  <div class="main">
    <h1 class="welcome">Hello, I'm a Front end Developer</h1>
    <p class="description">
      I'm passionate about creating beautiful and functional websites. I have
      experience in HTML, CSS, JavaScript, Angular, and more. I'm always looking
      for new opportunities to learn and grow.
    </p>
    <button class="viewMore">View My Work</button>
  </div>
  <div class="side">
    <page-indicator [currentPage]="0" [totalPages]="3"></page-indicator>
  </div>
</div>

<div class="page" id="skillSet">
  <div class="main">
    <h1 class="headline">Skill-Set</h1>
    <hr class="headlineUnderline" />
    <skill-set [skills]="skills"></skill-set>
  </div>
  <div class="side">
    <page-indicator [currentPage]="1" [totalPages]="3"></page-indicator>
  </div>
</div>

<div class="page" id="contact">
  <div class="main">
    <h1 class="headline">Connect with me</h1>
    <div class="form">
        <input class="inputField" id="email" type="email" [formControl]="email" placeholder="Email"/>
        <input class="inputField" id="name" type="text" [formControl]="message" placeholder="Message"/>
        <button class="submitButton" type="button" (click)="updateForm()">Update Name</button>    
    </div>
  </div>
  <div class="side">
    <page-indicator [currentPage]="2" [totalPages]="3"></page-indicator>
  </div>
</div>
