<div class="page" id="startPage">
  <div class="main">
    <h1 class="welcome">Hello, I'm a Front end Developer</h1>
    <p class="description">
      I'm passionate about creating beautiful and functional websites. I have
      experience in HTML, CSS, JavaScript, Angular, and more. I'm always looking
      for new opportunities to learn and grow.
    </p>
    <button class="viewMore">View My Work</button>
  </div>
  <div class="side">
    <page-indicator [currentPage]="0" [totalPages]="4"></page-indicator>
  </div>
</div>
