<div class="page" id="startPage">
  <div class="main">
    <h1 class="welcome">Hello, I'm a Front end Developer</h1>
    <p class="description">
      With 3 years of hands-on experience, including a dual study program where
      I worked on real-world projects for 2 years, I've developed a strong grasp
      of full-stack development. However, just before completing my bachelor's
      degree, I shifted my focus deliberately to frontend technologies,
      particularly Angular, as I found great satisfaction in bringing designs to
      life and enhancing user experiences.
    </p>
    <a [routerLink]="['/resume']" target="_blank">
      <button class="viewMore">View My Resume</button>
    </a>
  </div>
  <div class="side">
    <page-indicator [currentPage]="0" [totalPages]="3"></page-indicator>
  </div>
</div>

<div class="page" id="skillSet">
  <div class="main">
    <h1 class="headline">Skill-Set</h1>
    <hr class="headlineUnderline" />
    <skill-set [skills]="skills"></skill-set>
  </div>
  <div class="side">
    <page-indicator [currentPage]="1" [totalPages]="3"></page-indicator>
  </div>
</div>

<div class="page" id="contact">
  <div class="main">
    <h1 class="headline">Connect with me</h1>
    <div class="form">
      <input
        class="inputField"
        id="email"
        type="email"
        [formControl]="email"
        placeholder="Email"
      />
      <input
        class="inputField"
        id="name"
        type="text"
        [formControl]="message"
        placeholder="Message"
      />
      <button class="submitButton" type="button" (click)="updateForm()">
        Stay Connected
      </button>
    </div>
  </div>
  <div class="side">
    <page-indicator [currentPage]="2" [totalPages]="3"></page-indicator>
  </div>
</div>
