@use "_variables"as *;
@use "_mixins"as *;

.page {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $home-background-color;
    padding: 50px;

    .main {
        width: min(90%, 1000px);
    }

    .side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
    }

    // on small screens, hide the side bar
    @media (max-width: $mobile-width) {
        padding: 25px;

        .main {
            width: 100%;
        }

        .side {
            display: none;
        }
    }
}

#startPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .welcome {
        font-size: min(50px, 10vw);
        font-weight: bold;
        margin: 0;
        color: $home-primary;
    }

    .description {
        font-size: 20px;
        font-weight: 300;
        width: 70%;
        color: $home-secondary;

        // on small screens, make the description full width
        @media (max-width: $mobile-width) {
            width: 100%;
        }
    }

    .viewMore {
        @include button-primary;
        margin-top: 20px;
    }
}

#skillSet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .headline {
        font-size: 45px;
        font-weight: bold;
        margin: 0;
        color: $home-accent;
        text-transform: none;
    }

    .headlineUnderline {
        width: 100px;
        height: 5px;
        border: 0;
        background-color: $home-accent;
        margin: 0;
        margin-bottom: 20px;
    }
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .headline {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 10px;
        text-transform: none;
        color: $home-accent;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;

        input.inputField {
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: $home-background-color-light;
            font-size: 16px;
            transition: border-color 0.3s ease;

            // on big screens, make the input fields wider
            @media (min-width:$mobile-width) {
                font-size: 18px;
                padding: 16px 20px;
            }
        }

        .submitButton {
            @include button-primary;
            margin-top: 20px;
            width: 50%;
            align-self: flex-end;
        }

        // on small screens, make the form full width
        @media (max-width:$mobile-width) {
            width: 90%;
        }
    }
}