@use "_variables"as *;

.skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .skillItem {
        width: max(30%, 200px);
        aspect-ratio: 1/1;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;

        background-color: $home-background-color-light;
        margin: 10px;
        padding: 10px;
        
        .icon {
            width: 40px;
            aspect-ratio: 1/1;
            margin: 0;
        }

        .name {
            color: $home-primary;
        }

        .description {
            color: $home-primary;
            margin: 0;
        }

    }
}