// resume colors
$light-grey: #d9d9d9;
$dark-grey: #404040;
$resume-background-color: #fff;

$resume-main-headline-color: $dark-grey;
$resume-sec-headline-color: #accabd;


// home colors
$home-background-color: #3a3d60;
$home-primary: #fff;
$home-secondary: #808080;
$home-accent: #ff4c52;