$light-grey: #d9d9d9;
$dark-grey: #404040;

$main-headline-color: $dark-grey;
$sec-headline-color: #accabd;

h1 {
    font-weight: normal;
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $main-headline-color;
}

h2 {
    font-weight: bold;
    font-style: italic;
    font-family: "Open Sans";
    font-size: 20px;
    color: $main-headline-color;
}

h3 {
    font-weight: bolder;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $sec-headline-color;
}

span {
    font-family: "Open Sans";
    font-size: 14px;
    color: $dark-grey;
}