@use "./_mixins"as *;
@use "./_variables"as *;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PortfolioPage-primary: mat.define-palette(mat.$indigo-palette);
$PortfolioPage-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PortfolioPage-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PortfolioPage-theme: mat.define-light-theme((color: (primary: $PortfolioPage-primary,
      accent: $PortfolioPage-accent,
      warn: $PortfolioPage-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PortfolioPage-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

h1 {
  @include text-headline-large;
}

h2 {
  @include text-headline-medium;
}

h3 {
  @include text-headline-small;
}

span,
p,
a {
  @include text;
  text-decoration: none;
}


.spacer-25 {
  padding: 25px;
}

.spacer-50 {
  padding: 50px;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;
    /* Firefox 48 – 96 */
    print-color-adjust: exact !important;
    /* Firefox 97+, Safari 15.4+ */
  }
}