@import "../../global";

.page-index{
    height: 100%; width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    .indicator{
        background-color: $button-main-background;
        height: 20px;
        width: 20px;
        margin: 5px;

        border-radius: 50%;

        &.active{
            background-color: $button-main-active;
        }
        &:hover{
            background-color: $button-main-hover;
        }
    }
}
